.logoutRefer{
    float: right;
    position: absolute;
    right: 32px;
    top: 32px;
    font-size: 30px;
    color:white;
}


.orderTable{
    margin: 0 auto;
    width: 800px;
    text-align: center;
    border: none;
    color: white;
    font-size: 30px;
}
.orderTable>th{
    background-color: #929292;
    width: 200px;
}
.orderTable>td{
    background-color: #cccccc;
    width: 200px;
}